@import url("../../Generals/colors.css");

header {
    background-color: var(--primary-color);
    color: var(--font-primary);
}

header .container {
    height: 72px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   color: var(--font-primary);
   font-size: 24px; 
   font-weight: 600;
   cursor: pointer;
   text-decoration: none;
}

.user-img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--font-primary);
    border-radius: 50%;
    color: var(--font-primary);
    font-style: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}