@import url("../../Generals/colors.css");

footer {
    height: 72px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.name-title {
    color: var(--font-secondary)
}